*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "微软雅黑";
    font-size: 22px;
}
/* 主框架样式 */
.main{
    width:1200px;
    height: 530px;
    margin: 0 auto;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-265px;
    margin-left: -600px;
}
/* 导航栏样式 */
.nav{
    width:100%;
    height: 70px;
    
    
}
.nav a{
    text-decoration: none;
    display:block;
    width:300px;
    height: 100%;
    float: left;
    position: relative;

}
.nav-item{
    width: 298px;
    height: 68px;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top:-34px;
    margin-left: -149px;
    line-height: 68px;
    border-radius: 10px;
    color:#666;
}
/* 导航栏动态样式 */
.item-active{
    background-color: #ffcc00
}
/* 轮播图样式 */
.banner{
    width:100%;
    height: 460px;
    overflow: hidden;
    position: relative;
}
.banner-item{
    width:100%;
    height:100%;
    float: left;
    position: absolute;
    top:0;
    left: 0;
}
.show{
    z-index: 1;
}